*{
    font-family: 'red rose', cursive, sans-serif;

}

body{
   background-color: rgb(43, 40, 40);
    margin:0;
    box-sizing: border-box;
    line-height: 1;
    display: block;
    min-width: 320px;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size:35px ;
    
    
    
    
}



.entete{
    color:  #D8D5D5;

}


strong{
    color:#7E9B9E;
}



.titre{
    color:#1ccbdf;
    padding-top: 80px;
    margin-bottom: 0;
    
 
}


.text{
    color:rgb(196,196,196,100%);
    text-align :left ;
    margin-right: 40%;
    font-size: 30px;
    
}
.text p{
    margin-top: 0;
    margin-bottom: 0;
}

.entete h1 {
    margin: 0 0;
    font-size: 80px;
}
header{
    padding: 2em;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: -15px;
    background-image: linear-gradient(0deg, rgba(57, 52, 58, 0.82) 34%, rgba(91, 158, 148, 0.6) 48%, rgba(98, 99, 100, 0.76) 57%, rgba(139, 125, 125, 0.77) 64%);
    font-size: 25px;
    
   
   
}

div{
    color:rgb(209, 21, 21) ;
    margin: 0;
    padding: 5px;
    text-align: center;
    

    
    
    
}


.main-menu-nav  {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    line-height: 5rem;
    float:none;
    line-height: normal;
    position:static;
    color:rgb(rgb(124, 153, 206));


   }


  .nav1{
    display: block;
    width: 60px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #1ccbdf;
   
  }


h3{
    animation-name: titlechange;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}

@keyframes titlechange {
  0% {color: red;}
  25% {color: yellow;}
  50% {color: rgb(11, 213, 248);}
  100% {color: rgb(15, 240, 15);}
}

 .container1  {

   display:inline-block;
   margin-top: 100px;

    
 }
 
img{

    border-width: 3px;
    border-style: solid ;
    border-color:rgba(85, 132, 138, 0.562) ;
    box-shadow: 10px 5px 5px rgba(151, 84, 107, 0.562);
    padding-top: 3px;
    width: 500px;
    outline: 1px solid rgba(85, 132, 138, 0.562);
    transition: outline 1s ease 0s;

}
img:hover{
    outline: 10px solid rgb(182, 103, 103);
}
  
#map{
    margin-top: 100px;
    margin-left: 600px;
    
}

.interaction{
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content:center;
    
}

.formulaire{
    flex-basis: 50%;
    flex-grow: 1;
    margin-right: 70px;
    margin-top: 100px; 
   
    
}

.frame{
    
     flex-basis: 50%;
     flex-grow: 1;
     margin-left: -600px;
    margin-right: 100px;

}